@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display:ital,wght@1,600&display=swap');
.letra{font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;}

.bi{
    font-size: 50px;
    margin-top: 10px;
}


